global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "heart-disease-api"
    scheme: https
    metrics_path: /metrics
    static_configs:
      - targets:
          - heart-disease-api-latest-ib1p.onrender.com
